<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class = "box">
    
  
    <h2> Username </h2>
      
      <input type="text" placeholder="Enter Username" name="uname" required><br>
    <h2> Password </h2>
      
      <input type="password" placeholder="Enter Password" name="psw" required>
      
        <input type="checkbox" checked="checked" name="remember"> Remember me <br>
      
      <ion-button (click)="navToProfile()">Login</ion-button>
      
  
    <div class="container" style="background-color: white">
      
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</ion-content>
